<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LAVKKA-store</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section class="section_news center">
      <div class="section_news_slider">
        <div class="section_news_slider_point point_left"><</div>
        <a class="section_news_slider_img" href="#">
          <img src="img/open.jpg" alt="open" draggable="false" />
        </a>
        <a class="section_news_slider_img" href="#">
          <img src="img/sale.png" alt="sale" draggable="false" />
        </a>
        <a class="section_news_slider_img" href="#">
          <img src="img/online_shop.jpg" alt="online_shop" draggable="false" />
        </a>
        <div class="section_news_slider_point point_right">></div>
        <div class="section_news_dots">
          <div class="section_news_dot"></div>
          <div class="section_news_dot"></div>
          <div class="section_news_dot"></div>
        </div>
      </div>
    </section>
  </body>
  <script src="js/script.js"></script>
</html>
